Repository microsoft/MixedReality-WebRTC, pull requests merged in 2020-08, with the labels that each got.

#495 Update documentation and add UPM registry mentions
  README.md
  docs/manual/building-cslib.md
  docs/manual/building-windows.md
  docs/manual/building.md
  docs/manual/download.md
  docs/manual/installation.md
  docs/manual/unity/helloworld-unity-2.png
  docs/manual/unity/helloworld-unity-3.png
  docs/manual/unity/helloworld-unity-4.png
  docs/manual/unity/helloworld-unity-importwebrtc.md
Labels: doc

#499 Update docs title and README/CHANGELOG for 2.0
  CHANGELOG.md
  README.md
  docs/index.md
Labels: doc

#504 Update helloworld-cs-mediatracks-uwp.md
  docs/manual/cs/helloworld-cs-mediatracks-uwp.md
Labels: doc

#509 Fix build for C# tests after signature change
  tests/Microsoft.MixedReality.WebRTC.Tests/VideoEnum.cs
Labels: bug

#518 Add missing VS2019 variant to build.ps1
  tools/build/build.ps1
Labels: bug

#521 Improve build.py
  tools/build/build.py
Labels: enhancement, undock
